<form class="" action="index.html" method="post">
  {{input value=title id=title placeholder = "title"}}
  <br>
  {{input value=image id=image placeholder = "image"}}
  <br>
  {{input value=description id=description placeholder = "description"}}
  <br>
  {{input value=cost id=cost placeholder = "cost"}}
  <br />
  <button {{action 'addProduct'}}>Add Product</button>
</form>
