<div class = "singleProduct">
<h1>{{#link-to "product" product.id}}{{product.title}}{{/link-to}}</h1>
<img src = "{{product.image}}">
<p>{{product.description}}</p>
<p class = "cost">{{product.cost}}</p>
<button {{action 'delete' product}}>Delete</button>


<button {{action 'addToCart' product}}>Add to Cart</button>
{{totalCost}}
</div>
